{
  "openapi": "3.1.0",
  "info": {
    "title": "RAIL0 Payment API",
    "version": "0.1.0",
    "description": "REST API for initiating and authorizing stablecoin payments via the RAIL0 smart contract (EIP-3009 / EIP-712)."
  },
  "servers": [
    {
      "url": "https://api.rail0.xyz/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment intent",
        "description": "Called by the payer. Creates a payment record and returns the EIP-712 typed-data payload for the payer to sign immediately. The `signingPayload` contains `domain`, `types`, and `message` in standard EIP-712 format: wallet users pass it verbatim to `eth_signTypedData_v4`; backends or SDKs with direct key access compute the same hash with any EIP-712 library and sign it with secp256k1 — the result is identical. The `mode` field determines the flow: `authorize` places funds in escrow for later capture; `charge` is a one-shot authorize+capture with no escrow window. The nonce in the `signingPayload` is derived using the corresponding prefix (`RAIL0.AUTHORIZE` or `RAIL0.CHARGE`), so a signature for one mode cannot be reused for the other. The signed components (v, r, s) must then be submitted to `PUT /payments/{paymentId}/signature`, after which the payee triggers on-chain submission via `POST /payments/{paymentId}/authorize` or `POST /payments/{paymentId}/charge`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment intent created. Sign the returned `signingPayload` and submit to `PUT /payments/{paymentId}/signature`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (invalid addresses, expired deadlines, fee config, etc.).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/sign": {
      "put": {
        "operationId": "sign",
        "summary": "Submit the payer's authorization signature",
        "description": "Called by the payer after signing the `signingPayload` returned by `POST /payments`. Stores the EIP-3009 signature (v, r, s) server-side so that the payee can later trigger on-chain submission via `POST /payments/{paymentId}/authorize` without needing any input from the payer. Idempotent: re-submitting the same signature for the same payment is accepted.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayerSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature stored. The payee may now call `POST /payments/{paymentId}/authorize`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerSignatureResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Payment already authorized on-chain; signature can no longer be updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Signature does not recover to the expected payer address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/capture": {
      "post": {
        "operationId": "prepareCapture",
        "summary": "Prepare a capture transaction",
        "description": "Called by the payee to build the unsigned `capture()` transaction. The API validates the amount against the current on-chain state and returns a ready-to-sign EIP-1559 transaction. The payee signs it with their wallet (`eth_signTransaction`) and submits the result to `POST /payments/{paymentId}/capture/submit`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned transaction ready to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Amount is zero, exceeds capturable balance, or authorizationExpiry has already passed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/capture/submit": {
      "post": {
        "operationId": "submitCapture",
        "summary": "Broadcast a signed capture transaction",
        "description": "Submits a signed capture transaction to the network. The payee is the on-chain sender and pays gas. The `POST /payments/{paymentId}/capture` prepare step is optional: clients that can construct and sign the transaction independently (e.g. via an SDK with ABI knowledge) may call this endpoint directly with a self-built signed transaction. The `paymentId` in the path must match the one encoded in the transaction calldata and must already exist in the API (created via `POST /payments`) so that the stored payment config can be used to decode and return the updated state.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturePaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or malformed signed transaction, or on-chain revert (NotPayee, AuthorizationExpired, InvalidCaptureAmount).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/release": {
      "post": {
        "operationId": "releasePayment",
        "summary": "Release escrowed funds back to the payer",
        "description": "Submits the RAIL0 `release()` transaction on-chain. Returns all remaining escrowed funds to the payer after `authorizationExpiry` has passed and no full capture occurred. Unlike capture, void, and refund, `release` has no `msg.sender` restriction — anyone can trigger it, so the API acts as relayer and pays gas. No request body or signing step required.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Release submitted on-chain successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleasePaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "On-chain revert — authorizationExpiry not yet reached, or nothing left to release (capturableAmount is 0).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/authorize": {
      "post": {
        "operationId": "authorizePayment",
        "summary": "Submit the authorization transaction on-chain",
        "description": "Called by the payee to relay the payer's previously stored EIP-3009 signature to the RAIL0 `authorize()` function. Funds are pulled from the payer into escrow. The payee is the on-chain transaction sender and pays gas. No request body is required: the signature was already deposited by the payer via `PUT /payments/{paymentId}/signature`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization submitted on-chain successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizePaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Payment already authorized (on-chain state already exists).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Payer signature not yet submitted, or on-chain revert (e.g. AuthorizationExpired, TokenNotAccepted).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/charge": {
      "post": {
        "operationId": "chargePayment",
        "summary": "Submit the charge transaction on-chain",
        "description": "Called by the payee to relay the payer's EIP-3009 signature (mode=charge) to the RAIL0 `charge()` function. Funds are pulled from the payer and immediately distributed to payee and feeReceiver — no escrow window. The payee is the on-chain transaction sender and pays gas. The signature must have been deposited via `PUT /payments/{paymentId}/signature` with a payment created with `mode=charge`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge submitted on-chain successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargePaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Payment already exists on-chain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Payer signature not yet submitted, payment was created with mode=authorize, or on-chain revert (e.g. AuthorizationExpired, TokenNotAccepted).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/approve": {
      "post": {
        "operationId": "prepareApprove",
        "summary": "Prepare a token approval transaction",
        "description": "Builds an unsigned ERC-20 `approve(spender, amount)` transaction where `spender` is the RAIL0 contract and the token is taken from the payment config. Required before the payee can broadcast a refund. The payee signs the returned transaction and submits it to `POST /payments/{paymentId}/approve/submit`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned approve transaction ready to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/approve/submit": {
      "post": {
        "operationId": "submitApprove",
        "summary": "Broadcast a signed token approval transaction",
        "description": "Submits a signed ERC-20 `approve` transaction to the network. Once confirmed, the RAIL0 contract is authorized to pull up to `amount` tokens from the payee's wallet, enabling refund operations. The `POST /payments/{paymentId}/approve` prepare step is optional: clients that can construct and sign the transaction independently may call this endpoint directly.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval transaction submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or malformed signed transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/void": {
      "post": {
        "operationId": "prepareVoid",
        "summary": "Prepare a void transaction",
        "description": "Called by the payee to cancel the authorization and return all escrowed funds to the payer. Void is only possible while `capturableAmount > 0`. The API returns an unsigned transaction; the payee signs it and submits to `POST /payments/{paymentId}/void/submit`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsigned void transaction ready to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Nothing to void (capturableAmount is already 0).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/void/submit": {
      "post": {
        "operationId": "submitVoid",
        "summary": "Broadcast a signed void transaction",
        "description": "Submits a signed void transaction to the network. All remaining escrowed funds are returned to the payer. The `POST /payments/{paymentId}/void` prepare step is optional: clients that can construct and sign the transaction independently may call this endpoint directly.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Void transaction submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidPaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or malformed signed transaction, or on-chain revert (NotPayee, NothingToVoid).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/refund": {
      "post": {
        "operationId": "prepareRefund",
        "summary": "Prepare a refund transaction",
        "description": "Called by the payee to refund a previously captured amount to the payer. The payee must have approved the RAIL0 contract as an ERC-20 spender on the token for at least `amount` before submitting. The API returns an unsigned transaction; the payee signs it and submits to `POST /payments/{paymentId}/refund/submit`.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned refund transaction ready to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Amount is zero, exceeds refundable balance, or refundExpiry has already passed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}/refund/submit": {
      "post": {
        "operationId": "submitRefund",
        "summary": "Broadcast a signed refund transaction",
        "description": "Submits a signed refund transaction to the network. The specified amount is pulled from the payee's wallet back to the payer via `transferFrom`. The `POST /payments/{paymentId}/refund` prepare step is optional: clients that can construct and sign the transaction independently may call this endpoint directly.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "Unique payment identifier (bytes32 hex).",
            "schema": {
              "$ref": "#/components/schemas/Bytes32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund transaction submitted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundPaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid or malformed signed transaction, or on-chain revert (NotPayee, RefundExpired, InvalidRefundAmount, TransferFailed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{40}$",
        "description": "EVM address (checksummed or lowercase hex, 20 bytes).",
        "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
      },
      "Bytes32": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{64}$",
        "description": "32-byte hex value.",
        "example": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890ab"
      },
      "Uint256String": {
        "type": "string",
        "pattern": "^[0-9]+$",
        "description": "Non-negative integer encoded as a decimal string to avoid JSON numeric precision loss.",
        "example": "1000000"
      },
      "PaymentConfig": {
        "type": "object",
        "description": "Immutable payment configuration that maps 1-to-1 to the RAIL0 `Payment` Solidity struct.",
        "required": [
          "payer",
          "payee",
          "token",
          "maxAmount",
          "authorizationExpiry",
          "refundExpiry",
          "feeBps",
          "feeReceiver"
        ],
        "properties": {
          "payer": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Buyer address. Funds are pulled from this address."
          },
          "payee": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Merchant address. Authorized to capture, void, and refund."
          },
          "token": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "EIP-3009-capable ERC-20 token address (must be accepted by the RAIL0 deployment)."
          },
          "maxAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Upper bound on the authorized amount (fits in uint120)."
          },
          "authorizationExpiry": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (seconds). Capture must happen before this; release opens after.",
            "example": 1780000000
          },
          "refundExpiry": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp (seconds). Refund must happen before this. Must be >= authorizationExpiry.",
            "example": 1785000000
          },
          "feeBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Fee in basis points (0 = no fee, 10000 = 100%).",
            "example": 100
          },
          "feeReceiver": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Recipient of the fee on each capture. Use the zero address (0x0000…0000) when feeBps is 0."
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "description": "Parameters needed to create a payment intent. The API generates a unique `paymentId` and constructs the EIP-712 signing payload.",
        "required": [
          "payment",
          "amount",
          "chainId"
        ],
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/PaymentConfig"
          },
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Exact amount to authorize (in token base units). Must be > 0 and <= payment.maxAmount."
          },
          "chainId": {
            "type": "integer",
            "description": "EVM chain ID of the target network.",
            "example": 84532
          },
          "mode": {
            "type": "string",
            "enum": ["authorize", "charge"],
            "default": "authorize",
            "description": "`authorize` — funds are held in escrow and captured later by the payee. `charge` — one-shot: funds are immediately distributed to payee and feeReceiver with no escrow window. The two modes use different EIP-3009 nonce prefixes; a signature produced for one cannot be submitted for the other."
          }
        }
      },
      "EIP712Domain": {
        "type": "object",
        "description": "EIP-712 domain for the token contract (used by EIP-3009 TransferWithAuthorization).",
        "required": ["name", "version", "chainId", "verifyingContract"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Token's EIP-712 domain name.",
            "example": "USD Coin"
          },
          "version": {
            "type": "string",
            "description": "Token's EIP-712 domain version.",
            "example": "2"
          },
          "chainId": {
            "type": "integer",
            "description": "EVM chain ID.",
            "example": 84532
          },
          "verifyingContract": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Token contract address."
          }
        }
      },
      "EIP3009Message": {
        "type": "object",
        "description": "Message fields for the EIP-3009 TransferWithAuthorization typed-data signature.",
        "required": ["from", "to", "value", "validAfter", "validBefore", "nonce"],
        "properties": {
          "from": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Payer address (token sender)."
          },
          "to": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "RAIL0 contract address (token recipient / escrow)."
          },
          "value": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount to transfer (same as the requested authorization amount)."
          },
          "validAfter": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Always '0' for RAIL0 authorize flows."
          },
          "validBefore": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Equals payment.authorizationExpiry (Unix timestamp as string)."
          },
          "nonce": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "keccak256(NONCE_PREFIX, paymentId, configHash) where NONCE_PREFIX is `RAIL0.AUTHORIZE` for mode=authorize and `RAIL0.CHARGE` for mode=charge. Binds the signature to the exact Payment configuration and operation type."
          }
        }
      },
      "SigningPayload": {
        "type": "object",
        "description": "EIP-712 typed-data structure that the payer must sign. The `domain`, `types`, and `message` fields follow the EIP-712 standard. Signing options: (a) wallet users pass this object verbatim to `eth_signTypedData_v4`; (b) backends with direct key access compute `keccak256('\\x19\\x01' || domainSeparator || hashStruct(message))` with any EIP-712 library and sign with secp256k1. Both approaches produce the same (v, r, s) components to submit to `PUT /payments/{paymentId}/signature`.",
        "required": ["domain", "types", "primaryType", "message"],
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/EIP712Domain"
          },
          "types": {
            "type": "object",
            "description": "EIP-712 type definitions.",
            "required": ["TransferWithAuthorization"],
            "properties": {
              "TransferWithAuthorization": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "type"],
                  "properties": {
                    "name": { "type": "string" },
                    "type": { "type": "string" }
                  }
                },
                "description": "Type definition for EIP-3009 TransferWithAuthorization.",
                "example": [
                  { "name": "from",        "type": "address" },
                  { "name": "to",          "type": "address" },
                  { "name": "value",       "type": "uint256" },
                  { "name": "validAfter",  "type": "uint256" },
                  { "name": "validBefore", "type": "uint256" },
                  { "name": "nonce",       "type": "bytes32" }
                ]
              }
            }
          },
          "primaryType": {
            "type": "string",
            "enum": ["TransferWithAuthorization"],
            "description": "EIP-712 primary type."
          },
          "message": {
            "$ref": "#/components/schemas/EIP3009Message"
          }
        }
      },
      "CreatePaymentResponse": {
        "type": "object",
        "required": ["paymentId", "configHash", "payment", "amount", "chainId", "rail0Contract", "signingPayload"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Unique identifier for this payment (generated by the API, bytes32 hex)."
          },
          "configHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "EIP-712 hash of the Payment struct over the RAIL0 domain. Commits the signature to the exact payment terms."
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentConfig"
          },
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Exact amount to be authorized."
          },
          "chainId": {
            "type": "integer",
            "description": "EVM chain ID.",
            "example": 84532
          },
          "rail0Contract": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Address of the RAIL0 contract on the target chain."
          },
          "signingPayload": {
            "$ref": "#/components/schemas/SigningPayload"
          }
        }
      },
      "PrepareTransactionResponse": {
        "type": "object",
        "description": "An unsigned EIP-1559 transaction ready for the payee to sign. Signing options: (a) wallet users pass `unsignedTransaction` to `eth_signTransaction`; (b) backends with direct key access sign the RLP blob with any secp256k1 library (e.g. `wallet.signTransaction` in ethers.js). Submit the resulting signed RLP to the corresponding `/submit` endpoint.",
        "required": ["unsignedTransaction", "to", "data", "chainId", "nonce", "maxFeePerGas", "maxPriorityFeePerGas", "gasLimit"],
        "properties": {
          "unsignedTransaction": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]+$",
            "description": "RLP-encoded unsigned EIP-1559 transaction (type 2). Pass to `eth_signTransaction` (browser wallet) or sign directly with a secp256k1 library if the key is available in-process.",
            "example": "0x02f8..."
          },
          "to": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "RAIL0 contract address (informational; already encoded in `unsignedTransaction`)."
          },
          "data": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]*$",
            "description": "ABI-encoded calldata (informational; already encoded in `unsignedTransaction`).",
            "example": "0x1234abcd..."
          },
          "chainId": {
            "type": "integer",
            "description": "EVM chain ID.",
            "example": 84532
          },
          "nonce": {
            "type": "integer",
            "description": "Transaction nonce for the payee's account.",
            "example": 42
          },
          "maxFeePerGas": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "EIP-1559 max fee per gas (wei)."
          },
          "maxPriorityFeePerGas": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "EIP-1559 max priority fee per gas (wei)."
          },
          "gasLimit": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Estimated gas limit with a safety margin."
          }
        }
      },
      "SubmitTransactionRequest": {
        "type": "object",
        "description": "Signed transaction to submit on-chain.",
        "required": ["signedTransaction"],
        "properties": {
          "signedTransaction": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]+$",
            "description": "RLP-encoded signed EIP-1559 transaction as returned by `eth_signTransaction`.",
            "example": "0x02f8..."
          }
        }
      },
      "CapturePaymentRequest": {
        "type": "object",
        "description": "Amount to capture from escrow. May be less than the total capturable balance for a partial capture.",
        "required": ["amount"],
        "properties": {
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount to capture (in token base units). Must be > 0 and <= current capturableAmount."
          }
        }
      },
      "CapturePaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "capturedAmount", "capturableAmount", "refundableAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `capture()` call."
          },
          "capturedAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Gross amount captured in this call (before fee deduction). Matches the `amount` parameter passed to the contract."
          },
          "feeAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Fee deducted from this capture and sent to feeReceiver. '0' when feeBps is 0."
          },
          "capturableAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Remaining escrowed amount still available for future captures."
          },
          "refundableAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Cumulative amount already captured and eligible for refund (until refundExpiry)."
          },
          "authorizationExpiry": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp after which further captures are no longer possible.",
            "example": 1780000000
          }
        }
      },
      "ApproveRequest": {
        "type": "object",
        "description": "Amount to approve on the token contract. Setting this to the maximum expected refund (or `type(uint256).max` for unlimited) avoids repeated approvals.",
        "required": ["amount"],
        "properties": {
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Allowance to grant the RAIL0 contract (in token base units). Use '115792089237316195423570985008687907853269984665640564039457584007913129639935' for unlimited approval."
          }
        }
      },
      "ApproveResponse": {
        "type": "object",
        "required": ["transactionHash", "token", "spender", "amount"],
        "properties": {
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `approve()` call."
          },
          "token": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "Token contract on which the approval was set."
          },
          "spender": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "RAIL0 contract address that was approved as spender."
          },
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Approved allowance amount."
          }
        }
      },
      "RefundPaymentRequest": {
        "type": "object",
        "description": "Amount to refund to the payer. Must be > 0 and <= current refundableAmount.",
        "required": ["amount"],
        "properties": {
          "amount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount to refund (in token base units). Must be > 0 and <= current refundableAmount."
          }
        }
      },
      "ReleasePaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "releasedAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `release()` call."
          },
          "releasedAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount returned to the payer (was the full remaining capturableAmount)."
          }
        }
      },
      "ChargePaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "chargedAmount", "feeAmount", "refundableAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `charge()` call."
          },
          "chargedAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Gross amount charged (before fee deduction). Matches the `amount` parameter passed to the contract."
          },
          "feeAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Fee sent to feeReceiver. '0' when feeBps is 0."
          },
          "refundableAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount eligible for refund (equals chargedAmount; the full gross amount is tracked as refundable by the contract)."
          }
        }
      },
      "VoidPaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "releasedAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `void()` call."
          },
          "releasedAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount returned to the payer (was the full capturableAmount)."
          }
        }
      },
      "RefundPaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "refundedAmount", "refundableAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `refund()` call."
          },
          "refundedAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount refunded to the payer in this call."
          },
          "refundableAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Remaining refundable balance after this refund."
          }
        }
      },
      "PayerSignatureRequest": {
        "type": "object",
        "description": "EIP-712 signature over the `signingPayload` returned by `POST /payments`. The payer may produce this with `eth_signTypedData_v4` (browser wallet) or with any EIP-712 library that has direct access to the private key — the on-chain verification only checks the recovered address.",
        "required": ["v", "r", "s"],
        "properties": {
          "v": {
            "type": "integer",
            "enum": [27, 28],
            "description": "Signature recovery byte (27 or 28).",
            "example": 28
          },
          "r": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Signature r component."
          },
          "s": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Signature s component."
          }
        }
      },
      "PayerSignatureResponse": {
        "type": "object",
        "required": ["paymentId", "status"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "status": {
            "type": "string",
            "enum": ["signature_stored"],
            "description": "Confirms the signature was accepted and stored."
          },
          "recoveredPayer": {
            "allOf": [{ "$ref": "#/components/schemas/Address" }],
            "description": "The address recovered from the signature — should match `payment.payer`. Included for client-side verification."
          }
        }
      },
      "AuthorizePaymentResponse": {
        "type": "object",
        "required": ["paymentId", "transactionHash", "capturableAmount"],
        "properties": {
          "paymentId": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "Payment identifier."
          },
          "transactionHash": {
            "allOf": [{ "$ref": "#/components/schemas/Bytes32" }],
            "description": "On-chain transaction hash of the `authorize()` call."
          },
          "capturableAmount": {
            "allOf": [{ "$ref": "#/components/schemas/Uint256String" }],
            "description": "Amount now held in escrow and available for capture (equals the authorized amount)."
          },
          "authorizationExpiry": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp after which capture is no longer possible and release becomes available.",
            "example": 1780000000
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string",
            "description": "Machine-readable error code.",
            "example": "AUTHORIZATION_EXPIRED"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description.",
            "example": "The authorization window has already passed."
          }
        }
      }
    }
  }
}
